*{
	font-family: "NewsGoth Cn BT";
	outline: 0;
}
body{
	background: #e1e1ea;
}
.title-row{
	background: #a4cfa0;
	max-height: 80px;
}
#app-title{
	background: #8ac884;
	color: #FFF;
	max-width: 280px;
	max-height: 100%;
	font-size: 2.3em;
	line-height: 80px;
	text-align: center;
	text-indent: 30px;
	box-shadow: 1px 1px 5px #888;
}
#app-title a{
	color: #FFF;
}
#app-title a:hover{
	text-decoration: none;
}
.navbar-inner{
	background: #FFF;
	margin: 0 1%;
	border-radius: 0;
}
.navbar .nav li{
	line-height: 45px;
}
.navbar .nav li a{
	padding: 0 50px;
	font-size: 1.3em;
	color: #3c6439;
}
.navbar .nav li a:hover{
	text-decoration: underline;
}	
.foodie{
	background-color: #FFFFFF;
	cursor: pointer;
	line-height: 30px;
	width: 210px;
	padding: 10px 0;
	margin: 10px;
}
.foodie-details:hover, .foodie-image:hover + .foodie-details{
	background: #c4e3c1;
}
.foodie.active .foodie-details{
	background: #9fd29a;
}
.foodie-details{
	margin-top: 5px;
	padding: 0 20px;
}
.foodie-image{
	margin: 0 5px;
	width: 200px;
	height: 200px;
}

@media screen and (max-width:680px){
	#app-title{
		margin: 0 auto;
	}
	.navbar-inner{
		margin: 0;
	}
}

.smplx-box{
	background: #FFF;
	min-height: 70px;
	margin-bottom: 20px;
	padding-top: 10px;
}
#constraints{
	text-align: center;
}
#constraints .input-append{
	float: none;
	margin: 5px auto;
}
#constraints .input-append span{
	cursor: pointer;
}
.smplx-header{
	text-align: left;
	width: 100%;
	height: 20px;
	background: #8ac884;
	font-size: 1.5em;
	padding: 5px 0;
	text-indent: 10px;
	color: #FFF;
	line-height: 20px;
}
#function input[type="text"]{
	margin: 5px;
	width: 70%;
	border-radius: 3px;
	background: #FFF;
	border: 1px solid #b3b9b3;
	float: left;
}
#simplexify-results{
	position: relative;
	min-height: 400px;
}
footer{
	text-align: center;
	bottom: 0;
}
#add_button{
	color: white;
	background: #9fd29a;
	border: 0;
	border-radius: 3px;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	margin-top: -2px;
}
.tableau{
	width: 100%;
}